<ion-view cache-view="false" view-title="Meu perfil">
  <ion-content>
    <form novalidate ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-floating-label with-icon transparent">
            <span class="input-label my-input-label">E-mail</span>
            <input type="text" class="my-input" focus="email" required autocomplete="off" name="email" maxlength="255" placeholder="E-mail" ng-model="login.email">
        </label>

        <label class="item item-input item-floating-label with-icon transparent">
            <span class="input-label my-input-label">Senha</span>
            <input type="password" class="my-input" focus="senha" required autocomplete="off" name="senha" maxlength="20" placeholder="Senha" ng-model="login.senha">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
