<ion-view cache-view="false" view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-divider">Suas emendas</div>
      <div class="item" ng-repeat="emenda in all">
        <span>{{emenda.numero}} - {{emenda.valor_repasse}}<br/>{{emenda.proponente}}<br/>{{emenda.objeto}}</span>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">Emendas recentes</div>
      <div class="item" ng-repeat="emenda in last">
        <span>{{emenda.numero}} - {{emenda.valor_repasse}}<br/>{{emenda.proponente}}<br/>{{emenda.objeto}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
