<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Mapa Tab -->
  <ion-tab title="Mapa" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- Grupos Tab -->
  <ion-tab title="Grupos" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/grupos">
    <ion-nav-view name="tab-grupos"></ion-nav-view>
  </ion-tab>

  <!-- Perfil Tab -->
  <ion-tab title="Meu perfil" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>

</ion-tabs>
